/* COMMON */
* {
  box-sizing: border-box;
  margin: 0;
}
html,
body{
  width:100%;
  height:100%;
  font-size:16px;
}
/* FONT */
.big{
  font-size:24px;
}
.small{
  font-size: 12px;
}
.smaller{
  font-size:10px;
}
.bold{
  font-weight:700;
}
.semi-bold{
  font-weight: 600;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height:100%;
  background-color: #e1e7ef;
}

/* CONTENTS */
.card{
  position:relative;
  width:100%;
  /* height:720px; */
  height: 100vh;
  background: linear-gradient(to bottom,#7D8FAA,#4D596B 20%);

  /* plus */
  /* border-radius: 10px; */
  /* overflow: hidden; */
}
.proflie-header{
  width:100%;
  height: 48px;
  /* border-bottom: 1px solid #7D8FAA; */
  color:#E2E4E8;
  display: flex;
  justify-content: center;
  align-items: center;

  /*header 위에 배치*/
  z-index:1;
}
.proflie-header > img{
  position: absolute;
  left:0;
  color:#E2E4E8;
  cursor: pointer;
  padding:10px;
}

.profile{
  position: absolute;
  bottom:0px;
  width:inherit;
  /* height:570px; */
  height:75%;
  
  display: flex;

  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  background-color: white;
  border-radius: 40px 40px 0 0;
  /* padding-bottom:30px; */
}
/* .profile > img{
  object-fit: contain;
  display: block;
  position: absolute;
  width: 139px;
  height: 139px;
  background-color: white;
  overflow: hidden;
  border:5px solid white;
  border-radius: 50%;
  top:0px;
  transform: translate(0,-50%);
} */
.frame{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.frame label{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.frame label > img{
  object-fit: contain;
  display: block;
  position: absolute;
  width: 139px;
  height: 139px;
  background-color: white;
  overflow: hidden;
  border:5px solid white;
  border-radius: 50%;
  top:0px;
  transform: translate(0,-50%);
}
.frame input#name{
  position:absolute;
  top:12.5%;
  left:0;
  right:0;
  margin:10px auto;
  width:25%;
  text-align: center;
}


.data{
  /* margin-top: 20%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position:relative;
  height:100%;
}

.data .frame-bottom > label{
  width: 305px;
  position: relative;
  margin: 10px;
  color:#B3B3B3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .data .frame-bottom label input{
  position:absolute;
  right:0;
} */


.btn-submit{
  position: absolute;
  width:246px;
  height:43px;
  background-color: #7D8FAA;
  color:#E2E4E8;
  border:none;
  border-radius: 5px;
  right:0;
  left:0;
  cursor:pointer;
  margin:10px auto;
  bottom:-80px;
}
.btn-submit:hover{
  background-color: #4D596B;
}

#email,
#id,
#phoneNumber,
#department,
#position,
#address,
#dateOfBirth,
#etc{
  width: 212px;
  height:25px;
  padding-left: 10px;
}
/* media query */
@media(min-width:768px){
  .card{
    width:100%;
    max-width: 1280px;
    height:100vh;
  }
  .proflie-header{
    height: 70px;
    font-size:20px;
  }
  .proflie-header > img{
    display: none;
  }
  .profile{
    height:75%;
  }
  .frame label > img{
    object-fit: contain;
    width:162px;
    height:162px;
    transform: translate(-110%,-50%);
  }
  .data .frame-bottom > label{
    width: 440px;
    position: relative;
    margin: 10px;
    font-size:18px;
    color:#B3B3B3;
    display:flex;
    justify-content:space-between;
    align-items: center;
  }
  .frame input#name{
    transform: translate(-30%,-120%);
  }
  /* .data{
    transform: translateY(-30px);
    margin-top:10%;
  } */

  /* data label input */
  #email,
  #id,
  #phoneNumber,
  #department,
  #position,
  #address,
  #dateOfBirth,
  #etc{
    padding-left:15px;
    width: 312px;
    height:34px;
    font-size:18px;
  }
  .data .frame label input#name{
    height:34px;
    font-size:18px;
  }
  .btn-submit{
    width:434px;
    transform: translateY(10px);
  }
}

/* .email-box{
  margin: 10px 5px 10px 15px;
  width: 100px;
  height:22px;
} */

/* combo box */
/* .data option{
  width: 100px;
  height:22px;
} */

/* .profile > #name{
  text-align: center;
  width:81px;
  margin:14px 147px 33px;
} */