/* * {
  box-sizing: border-box;
  margin: 0;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.container {
  width: 100%;
  height: 100%;
  background-color: #e1e7ef;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.content-wrapper {
  width: 100%;
  height: 100%;
  padding: 20px;
}

.content {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.board {
  width: 300px;
  height: 22vh;
  cursor: pointer;
}

.content-image {
  width: 100%;
  height: 100%;
  background-image: url("../../../../public/images/loopy.jpg");
  background-size: cover;
  background-position: center center;
  margin-bottom: 5px;
  background-repeat: no-repeat;
}

.content-title {
  align-self: flex-start;
}

.add-button {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  color: white;
  background-color: #4b5b73;
  border: none;
  position: absolute;
  text-align: center;
  right: 16px;
  bottom: 16px;
  cursor: pointer;
  font-size: 22px;
  margin-right: 0;
  padding-top: 0;
}

.add-button:hover {
  background-color: #64b5f6;
  transform: scale(1.1);
}

/* 미디어쿼리 */

@media (min-width: 768px) {
  .container {
    max-width: 1440px;
    width: 100%;
    height: 100%;
    background-color: #e1e7ef;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  header {
    background-color: red;
    height: 48px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
  }

  .content-wrapper {
    width: 100%;
    height: 100%;
    padding: 30px;
  }

  .content {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
  }

  .board {
    width: 300px;
    height: 22vh;
  }

  .content-image {
    width: 100%;
    height: 100%;
    background-image: url("../../../../public/images/loopy.jpg");
    background-size: cover;
    background-position: center center;
    margin-bottom: 5px;
    background-repeat: no-repeat;
  }

  .content-title {
    align-self: flex-start;
  }

  .add-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: white;
    background-color: #4b5b73;
    border: none;
    position: absolute;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    font-size: 30px;
  }

  .add-button:hover {
    background-color: #64b5f6;
    transform: scale(1.15);
  }
}
