* {
  box-sizing: border-box;
  margin: 0;
}

/* body 설정 */
body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 컨테이너 설정 */
.container {
  width: 100%;
  height: 100%;
  background-color: #e1e7ef;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.header-zone {
  width: 100%;
}

header {
  background-color: red;
  height: 48px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
}

.content-wrapper {
  width: 100%;
  height: 100%;
  padding: 20px;
}

.content {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative; /* 추가 */
}

.board {
  width: 80%;
  height: 20vh;
}

.content-image {
  width: 100%;
  height: 100%;
  background-color: gray;
  margin-bottom: 5px;
}

.content-title {
  align-self: flex-start; /* 텍스트를 왼쪽에 배치 */
}

/* 추가 버튼 설정 */
.add-button {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  color: white;
  background-color: #4b5b73;
  border: none;
  position: absolute; /* 부모 요소를 기준으로 위치 설정 */
  right: 16px; /* 오른쪽 여백 */
  bottom: 16px; /* 아래쪽 여백 */
  cursor: pointer;
  font-size: 30px;
}

.add-button:hover {
  background-color: #64b5f6;
  transform: scale(1.15);
}

@media (min-width: 768px) {
  /* 1024px 이상에서 적용될 스타일 */
  .container {
    width: 512px;
  }

  header {
    width: 512px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 800px;
  }

  header {
    width: 800px;
  }

  .add-button {
    width: 42px;
    height: 42px;
  }
}
