/* * {
  box-sizing: border-box;
  margin: 0;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.adminNoticeContent-container {
  width: 100%;
  height: 100%;
  background-color: #e1e7ef;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.adminNoticeContent-header-zone {
  width: 100%;
}

.adminNoticeContent-content-wrapper {
  width: 100%;
  height: 100%;
  padding: 20px;
}

.adminNoticeContent-content {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0 30px;
}

.adminNoticeContent-title-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 30px;
  width: 100%;
  padding-left: 10px;
}

.adminNoticeContent-title-box #title {
  margin-bottom: 15px;
}

.adminNoticeContent-divider {
  width: 90%;
  border: none;
  border-top: 1px solid #efefef;
  margin: 10px auto;
}

.adminNoticeContent-img-box {
  width: 100%;
  height: 20%;
  background-color: red;
  margin-top: 5px;
}

.adminNoticeContent-description-box {
  width: 100%;
  height: 32vh;
  background-color: gray;
}

.adminNoticeContent-divider2 {
  width: 90%;
  border: none;
  border-top: 1px solid #efefef;
  margin-top: 40px;
  margin-bottom: 30px;
}

.adminNoticeContent-button-zone {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.adminNoticeContent-button-zone button {
  color: white;
  border-radius: 5px;
  padding: 7px 15px;
  border: none;
  margin: 0 5px;
  cursor: pointer;
}

.adminNoticeContent-button-zone #delete {
  color: white;
  background-color: #e45d5d;
  border-radius: 5px;
}

.adminNoticeContent-button-zone #submit {
  color: white;
  background-color: #4b5b73;
  border-radius: 5px;
}

.adminNoticeContent-modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5);
}

.adminNoticeContent-modal .adminNoticeContent-modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background: #ffffff;
  border-radius: 20px;
}

.adminNoticeContent-modal .adminNoticeContent-modal-content h4 {
  font-size: 14px;
}

.adminNoticeContent-modal .adminNoticeContent-modal-content #deleteCancel {
  color: white;
  background-color: #4b5b73;
  border-radius: 5px;
}

.adminNoticeContent-modal .adminNoticeContent-modal-content #delete {
  color: white;
  background-color: #4b5b73;
  border-radius: 5px;
}

.adminNoticeContent-modal.on {
  display: block;
}

@media (min-width: 768px) {
  .adminNoticeContent-container {
    max-width: 1440px;
    width: 100%;
    height: 100%;
    background-color: #e1e7ef;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .adminNoticeContent-header-zone {
    width: 100%;
  }

  header {
    background-color: red;
    height: 48px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
  }

  .adminNoticeContent-content-wrapper {
    width: 100%;
    height: 100%;
    padding: 30px;
  }

  .adminNoticeContent-content {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0 30px;
  }

  .adminNoticeContent-title-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;
    width: 100%;
    padding-left: 10px;
  }

  .adminNoticeContent-title-box #title {
    margin-bottom: 15px;
  }

  .adminNoticeContent-divider {
    width: 90%;
    border: none;
    border-top: 1px solid #efefef;
    margin: 10px auto;
  }

  .adminNoticeContent-img-box {
    width: 100%;
    height: 30%;
    background-color: red;
    margin-top: 5px;
  }

  .adminNoticeContent-description-box {
    width: 100%;
    height: 32vh;
    background-color: gray;
  }

  .adminNoticeContent-divider2 {
    width: 90%;
    border: none;
    border-top: 1px solid #efefef;
    margin-top: 40px;
    margin-bottom: 30px;
  }

  .adminNoticeContent-button-zone {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }

  .adminNoticeContent-button-zone button {
    color: white;
    border-radius: 5px;
    padding: 7px 15px;
    border: none;
    margin: 0 5px;
    cursor: pointer;
  }

  .adminNoticeContent-button-zone #delete {
    color: white;
    background-color: #e45d5d;
    border-radius: 5px;
  }

  .adminNoticeContent-button-zone #submit {
    color: white;
    background-color: #4b5b73;
    border-radius: 5px;
  }

  .adminNoticeContent-modal {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.5);
  }

  .adminNoticeContent-modal .adminNoticeContent-modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: #ffffff;
    border-radius: 20px;
  }

  .adminNoticeContent-modal .adminNoticeContent-modal-content h4 {
    font-size: 14px;
  }

  .adminNoticeContent-modal .adminNoticeContent-modal-content #deleteCancel {
    color: white;
    background-color: #4b5b73;
    border-radius: 5px;
  }

  .adminNoticeContent-modal .adminNoticeContent-modal-content #delete {
    color: white;
    background-color: #4b5b73;
    border-radius: 5px;
  }

  .adminNoticeContent-modal.on {
    display: block;
  }
}
