* {
  box-sizing: border-box;
  margin: 0;
}

/* body 설정 */
body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 컨테이너 설정 */
.userNotice-container {
  width: 100%;
  height: 100%;
  background-color: #e1e7ef;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.userNotice-header-zone {
  width: 100%;
}

.userNotice-content-wrapper {
  width: 100%;
  height: 100%;
  padding: 20px;
}

.userNotice-content {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative; /* 추가 */
}

.userNotice-board {
  width: 80%;
  height: 20vh;
}

.userNotice-content-image {
  width: 100%;
  height: 100%;
  background-color: gray;
  margin-bottom: 5px;
}

.userNotice-content-title {
  align-self: flex-start; /* 텍스트를 왼쪽에 배치 */
}

@media (min-width: 768px) {
  /* 1024px 이상에서 적용될 스타일 */
  .userNotice-container {
    width: 512px;
  }

  .userNotice-header {
    width: 512px;
  }
}

@media screen and (min-width: 1440px) {
  .userNotice-container {
    width: 800px;
  }

  .userNotice-header {
    width: 800px;
  }

  .userNotice-add-button {
    width: 42px;
    height: 42px;
  }
}
