* {
  box-sizing: border-box;
  margin: 0;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userNoticeContent-container {
  width: 100%;
  height: 100%;
  background-color: #e1e7ef;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.userNoticeContent-header-zone {
  width: 100%;
}

.userNoticeContent-content-wrapper {
  width: 100%;
  height: 100%;
  padding: 20px;
}

.userNoticeContent-content {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0 30px;
}

.userNoticeContent-title-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 44px;
  width: 100%;
  padding-left: 10px;
}

.userNoticeContent-title-box #title {
  margin-bottom: 10px;
}

.userNoticeContent-divider {
  width: 90%;
  border: none;
  border-top: 1px solid #efefef;
  margin: 2px auto;
}

.userNoticeContent-img-box {
  width: 100%;
  height: 20vh;
  background-color: red;
  margin-top: 5px;
  /* min-height: 10vh; */
}

.userNoticeContent-description-box {
  width: 100%;
  height: 36vh;
  background-color: gray;
}

.userNoticeContent-divider2 {
  width: 90%;
  border: none;
  border-top: 1px solid #efefef;
  margin-top: 28px;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .userNoticeContent-container {
    width: 512px;
  }
}

@media screen and (min-width: 1440px) {
  .userNoticeContent-container {
    width: 800px;
  }

  .userNoticeContent-img-box {
    height: 20vh;
    /* min-height: 10vh; */
  }

  .userNoticeContent-description-box {
    height: 36vh;
  }
}
