* {
  box-sizing: border-box;
  margin: 0;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#header {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#app {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  z-index: 0;
}

a {
  text-decoration: none;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
    outline: none;
    box-shadow: none;
}

.login-container {
  max-width: 1440px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #E1E7EF;
}

.login-wrap {
  width: 80%;
  margin: 20px;
  padding: 50px;
  background-color: white;
  border-radius: 20px;
}

#login-title,
#signup-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 

#login-title h1,
#signup-title h1 {
  font-size: 18px;
  margin-bottom: 5px;
} 

#login-title p,
#signup-title p {
  font-size: 12px;
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form input,
.signup-form input {
  width: 80%;
  height: 40px;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 10px 15px;
}

.login-form input:focus,
.signup-form input:focus {
  border-color: #E1E7EF;
}

.login-form button,
.signup-form button {
  width: auto;
  border: none;
  padding: 20px;
  border-radius: 20px;
}

.login-form button:hover,
.signup-form button:hover {
  background-color: #E1E7EF;
}

.login-form button:active,
.signup-form button:active {
  font-weight: 700;
}

#signup-link,
#login-link {
  color: blue;
}

#signup-link:hover,
#login-link:hover {
  text-decoration: underline;
}

.signup {
  display: none;
}

/*  ≧ 768px (Desktop) */
@media screen and (min-width: 768px) {
  .login-wrap {
    width: 60%;
    background-color: white;
    padding: 100px 0;
    border-radius: 20px;
  }

  #login-title h1,
  #signup-title h1 {
    font-size: 30px;
    margin-bottom: 18px;
  } 

  #login-title p,
  #signup-title p {
    font-size: 16px;
    margin-bottom: 30px;
  }
  
  .login-form input,
  .signup-form input {
    width: 40%;
    height: 50px;
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 10px 15px;
  }
  
  .login-form input:focus,
  .signup-form input:focus {
    border-color: #E1E7EF;
  }
  
  .login-form button,
  .signup-form button {
    margin-top: 10px;
    font-size: 16px;
    border: none;
    padding: 10px 30px;
    border-radius: 20px;
  }
  
  .login-form button:hover,
  .signup-form button:hover {
    background-color: #E1E7EF;
  }
  
  .login-form button:active,
  .signup-form button:active {
    font-weight: 700;
  }
}